body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    background-image: linear-gradient(52deg, rgb(167, 158, 158), rgb(109, 139, 141));
    /* background-image: url(backgrounds/background.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

header {
    background-color: hsla(0, 0%, 100%, 0.15);
    backdrop-filter: blur(5px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 1rem;
    text-align: center;
}

.main-header {
    text-shadow: 2px 2px 5px black;
    color: white;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: hsla(0, 0%, 100%, 0.15);
    backdrop-filter: blur(25px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding: 1rem;
    text-align: center;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

.search-container, .auth-container {
    padding: 2rem;
    text-align: center;
    margin: auto;
}

.search-container input, .search-container select, .auth-container input {
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0.5rem;
}

#searchInput {
    border-style: inherit;
    border-radius: 20px;
    width: 44%;
    box-shadow: 2px 1px 7px black;
    animation-name: slideUp;
    animation-duration: 1s;
}

#fieldSelect, #search-button {
    font-size: small; 
    width: auto; 
    background-color: #f9f9f9; 
    border-style: inherit;
    border-radius: 20px;
    box-shadow: 0px 0px 1.5px #404040;    
    animation-name: slideUp;
    animation-duration: 1s;
    transition: background-color 0.3s ease;
}

#search-button {
    font-size: medium;
    height: 35px;
    box-shadow: 2px 1px 7px black;
}

#search-button:hover {
    background-color: hsl(0, 0%, 88%);
}

#search-button {
    text-align: center;
    width: 60px;
}

#username, #password {
    font-size: small; 
    width: auto; 
    border-style: inherit;
    border-radius: 20px;
    box-shadow: 2px 1px 7px black;
}

#links {
    color: rgb(30, 64, 255);
    text-decoration: none;
}

.reg-button {
    font-size: small; 
    width: 90px; 
    background-color: #f9f9f9; 
    border-style: inherit;
    border-radius: 5px;
    box-shadow: 0px 0px 1.5px #404040;  
}

.lawyer-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.lawyer-card {
    background-color: hsla(0, 0%, 100%, 0.15);
    backdrop-filter: blur(20px);
    padding: 1rem;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}

.lawyer-card h3 {
    margin-top: 0;
}

#lawyerDetail {
    display: none;
    background: white;
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#backButton {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.register {
    padding: 0.5rem;
    text-align: right;
    padding-right: 1rem;
    float: right;
}

.navigation {
    padding: 0.5rem;
    text-align: left;
    padding-left: 1rem;
    width: 50px;
    float: left;
}

#menu {
    display: none;
    text-align: top;
}

.navbar {
    text-align: left;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: #f9f9f9;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    width: 90px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #4040407e;
}

.navbar li {
    float: none;
    text-align: left;
}

.bureau-link {
    color: rgb(0, 90, 255);
    text-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
    text-decoration: underline;
    cursor: pointer;
}

.bureau-list {
    padding: 3rem 2rem;
}

.logout-button {
    margin-left: 1rem;
    background: black;
    color: white;
    border: none;
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    cursor: pointer;
}

.about {
    background-color: hsla(0, 0%, 100%, 0.15);
    backdrop-filter: blur(25px);
    padding: 10px;
    padding-left: 1.25em;
    border-radius: 20px;
}

@media screen and (max-width:600px) {

    .navbar ul {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    }

    #menu {
        display: block;
        padding-bottom: 10px;
    }

    #searchInput {
        width: 70%;
    }
    
    .navbar {
        display: none;
    }

    .navigation:hover .navbar {
        display: block;
    }

    .navbar a:hover .navbar {
        display: block;
    }

    footer {
        background-color: hsla(223, 48%, 49%, 0.5);
        backdrop-filter: blur(15px);
    }
}

/*

@media (max-width:1600px) {
    body {
        background-image: url(backgrounds/background_small.jpg);
    }
}

@media (min-width:1900px) {
    body {
        background-image: url(backgrounds/background_large.jpg);
    }
}

@media (min-width:2150px) {
    body {
        background-image: url(backgrounds/background_xlarge.jpg);
    }
}

@media (min-width:2750px) {
    body {
        background-image: url(backgrounds/background_2xlarge.jpg);
    }
}

*/

@keyframes slideUp {
    from{transform: translateY(20px);}
}